name: Deploy Angular UI

on:
  push:
    branches: [ "test" ]

jobs:
  build_check:
    name: Check Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: './package-lock.json'

      - name: Install dependencies
        run: npm ci

      - name: Verify Build
        run: npm run build -- --configuration=production

  deploy:
    name: Deploy to UI Server
    needs: build_check
    concurrency: deploy_ui
    if: github.ref == 'refs/heads/test'

    runs-on: [self-hosted, ui-server]

    environment:
      name: main

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/community-service-ui:test

      - name: Update Container UI
        run: |
          cd ~/app-test

          echo "BACKEND_URL=${{ secrets.BACKEND_URL }}" > .env

          docker compose pull
          docker compose up -d --remove-orphans
          docker image prune -f
